@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;800&display=swap');
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Poppins";
}
.navbar-brand{
    font-family: "Poppins";
    font-weight: 500;
    letter-spacing: 2px;
    color: rgba(54, 54, 54, 0.719);
}
.nav-link{
    font-family: "Poppins";
    font-size: 14px;
    color: rgba(109, 109, 109, 0.719);
}
.nav-item{
    margin-right: 10px;
}
.navbar-toggler-icon{
    z-index: 100;
}
.container h1{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 4px;
}
.home-image{
    height: 100%;
    width: 80%;
}

/*Portrait*/
.image{
    width: 100%;
    height: 90%;
    margin-bottom: 10px;
}

/*About*/
.img-about{
    height: 70%;
    width: 90%;
}

.row-1 h2{
    font-weight: 400;
    letter-spacing: 4px;
}
.row-1 p{
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 400;
}

/*Contact*/

.contact{
    background-color: rgba(243, 242, 242, 0.829);
    padding: 50px;
    padding-bottom: 0;
}

.contact h3{
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 20px;
}

.contact p{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.btn{
    background-color: rgb(212, 212, 212);
}
@media only screen and (max-width: 992px) {
    .img-about{
        width: 100%;
        height: 100%;
    }
}



